#header
  .container
    #navigation
      %ul
        %li= link_to "Blog", "/"
        %li= link_to "About", "/pages/about"
        %li= link_to "Projects", "/projects"
        %li= link_to "Contact", "/pages/contact"
    %h1= link_to("Víctor Martínez", "/")
