!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'application/xhtml+xml; charset=UTF-8'}
    %title= @project[:name]
    %link{:href => "/assets/screen.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/feed.xml", :rel => "alternate", :type => "application/atom+xml"}
    %script{:type => "text/javascript", :src => "/assets/application.js"}
    = google_analytics("UA-3031580-7")
  %body
    #main
      = haml :_header
      .container
        #sidebar= haml :_sidebar

        #content{"data-title" => @project[:name]}
          %h1= @project[:name]

          ~ yield

          - if @project[:gallery]
            = haml :_gallery, {}, :name => @project[:gallery]

          = haml :_share_buttons

          - if @project[:comments] == true
            = haml :_comments, {}, :slug => @project.slug

      #main_footer

    = haml :_footer